/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

/* FONT SIZES */
.font-36{
  font-size: 36px;
}
.font-32{
  font-size: 32px;
}
.font-16{
  font-size: 16px;
}
.font-12{
  font-size: 12px;
}
.clear{
  clear: both;
}

/* for datepicker in modal*/
.ui-widget.ui-widget-content{
  z-index: 9999 !important;
}
